@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');

*:focus {
	outline: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	font-style: italic;
	color: #ffffff;
}

h2 {
	font-size: 28px;
	font-weight: 300;
	text-align: center;
	color: #ffffff;
}

h3 {
	font-size: 26px;
	text-align: center;
	font-weight: 400;
	color: #000000;
}

h4 {
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	color: #424242;
	text-transform: uppercase;
}

h5 {
	font-size: 26px;
	font-weight: 400;
	color: #ffffff;
	margin: 30px 0 10px;
}

h6 {
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin: 0 0 40px 0;
	font-size: 18px;
	color: #d9d9d9;
}

.flyers-flex p > a{
	color: #22417D;
	text-decoration: none; 
	font-size: 18px;
}

.flyers-flex p > a:hover{
	color: #57B6DB;
}

.contact p > a{
	color: #57B6DB;
	text-decoration: none; 
	font-size: 18px;
}

.contact p > a:hover{
	color: #63d3ff;
}

button {
	height: 50px;
	padding: 0 2%;
	float: right;
	background: none;
	background-image: none;
	border-radius: 5%;
    border: 2px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: none;
   	box-shadow: none;
   	font-size: 15px;
   	color: #57B6DB;
}

button:hover, button:active {
	cursor: pointer;
	color: #63d3ff;
}

.language {
	margin-top: 10px;
	color: #57B6DB;
	float: right;
	font-weight: 200;
	font-size: 24px;
}

.navigation {
	height: 50px;
	width: 100%;
	background: #1b3463;
	display: block;
}

.slogan {
	background-color: #22417D;
	text-align: center;
	display: block;
}

.slogan-flex {
	display: block;
	padding: 5% 0;
}

.slogan-flex h3 {
	color: #ffffff;
	font-style: italic;
}

.hero {
	text-align: center;
	padding: 7% 0 0;
	margin: 0 auto;
	width: 80%;
	background-repeat: repeat;
}

.triples1 {
	width: 100%;
	max-width: 33.775%;
	display: inline-block;
	margin: 5px;
}

.triples2 {
	width: 100%;
	max-width: 33.6%;
	display: inline-block;
	margin: 6px;
}

.triples3 {
	width: 100%;
	max-width: 33.5%;
	display: inline-block;
	margin: 6px;
	border-bottom: 4px solid #FFCE38;
}

.video {
	width: 100%;
	max-width: 33.75%;
	display: inline-block;
	margin: 5px;
	border-bottom: 4px solid #FFCE38;
}

.line {
	display: block;
	margin: 0 auto;
	width: 60%;
	height: 1px;
	background: #d9d9d9;
}

.download {
	padding: 4% 0 0 0;
	text-align: center;
	font-weight: 400;
	color: #000000;
	font-size: 26px;
}

.flyers {
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	background: #ffffff;
}

.flyers-flex {
	flex: 1;
	padding: 4% 0;
}

.flyers-flex img {
	margin: auto;
	width: 100%;
	max-width: 200px;
	opacity: .7;
}

.flyers-flex img:hover {
	opacity: 1;
}

.services {
	display: flex;
	flex-direction: row;
	background: #ffffff;
	padding: 5% 0;
}

.services-flex {
	flex: 1;
}

.services-flex img {
	max-width: 150px;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.info {
	padding: 4% 0% 5%;
	margin: 0;
	width: 100%;
	background-color: #22417D;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: row;
}

.photo {
	flex: 2;
}

.agentphoto {
	width: 100%;
	max-width: 180px;
	border-radius: 50%;
	float: right;
	margin: 10% 0;
	border: #ffffff 1px solid;
}

.contact {
	flex: 4;
	padding: 0 5%;
}

.icon {
	width: 5%;
	vertical-align: middle;
	padding: 0 20px 0 0;
}

@media screen and (max-width: 800px) {
  h1 {
  	font-size: 26px;
  }
  h2 {
  	font-size: 22px;
  }
  h3 {
  	font-size: 20px;
  }
  h4 {
  	font-size: 15px;
  }
  h5 {
  	font-size: 20px;
  }
  h6 {
  	font-size: 15px;
  }
  .hero {
	padding: 10% 0 0;
  }
  .slogan-flex {
	padding: 10% 0; 
  }
  .download {
  	font-size: 20px;
  }
  .flyer-flex p > a{
  	font-size: 15px;
  }
  .contact p > a{
  	font-size: 15px;
  }
  .services {
  	padding: 10% 2% 12%;
  }
  .services-flex img {
  	max-width: 80px;
  }
  .agentphoto {
  	display: block;
  	padding: 0;
  	margin: 20px auto 0;
	width: 30%;
	float: none;
  }
  .info {
  	flex-direction: column;
  }
  .flyers {
	flex-direction: column;
  }
  .icon {
	width: 10%;
  }
  .download {
	padding: 10% 0 5%;
  }
  .triples1 {
	max-width: 87.775%;
	display: block;
	margin: 0 auto;
  }
  .triples2 {
	max-width: 87.6%;
	display: block;
	margin: 0 auto;
  }
  .triples3 {
	max-width: 87.5%;
	display: block;
	margin: 0 auto;
  }
  .video {
	max-width: 87.75%;
	display: block;
	margin: 0 auto;
  }
}
